<div class="question-box mx-0 my-1 pa-2">
    <MudText>@Question</MudText>
    @ChildContent
    <MudText Color="Color.Error">@ErrorMessage</MudText>
</div>

@code{

    [Parameter]
    public string Question { get; set; } = string.Empty;

    [Parameter]
    public string ErrorMessage { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}