@page "/about/allies"
@using UnitedSystemsCooperative.Web.Shared
@using UnitedSystemsCooperative.Web.Client.Interfaces
@inject IItemService<Ally> Service
@inject ILogger<Allies> Logger

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <MudText Typo="Typo.h4" Align="Align.Center">Allies</MudText>
    @if (_isLoading)
    {
        <div id="allies-loading">Loading allies</div>
    }
    else
    {
        @if (_allies is not null)
        {
            <MudPaper>
                @if (!_allies.Any())
                {
                    <div id="allies-none">No allies found</div>
                }
                else
                {
                    <MudList>
                        @foreach (var ally in _allies)
                        {
                            <MudListItem Text="@ally.Name"/>
                        }
                    </MudList>
                }
            </MudPaper>
        }
        else
        {
            <div id="allies-error">Error accessing Allies.</div>
        }
    }

</MudContainer>

@code {
    private bool _isLoading = true;
    private Ally[]? _allies;

    protected override async Task OnInitializedAsync()
    {
        _allies = Service.GetFromStore()?.ToArray();
        try
        {
            _allies = (await Service.GetFromServer()).ToArray();
        }
        finally
        {
            _isLoading = false;
        }
    }

}