<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Align="Align.Center" Typo="Typo.h3">
        Information Archive
    </MudText>

    <PaperP Padding="1">
        <MudText Typo="Typo.subtitle1" Align="Align.Center">New players look to the 
            <span class="color-secondary">blue buttons</span>
            for helpful tips in getting started with the Guides, Tools, and Documentation below.</MudText>
    </PaperP>
    
    
</MudContainer>

@code {

}