<h3>InfoSection</h3>

@code {

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string Header { get; set; } = "";

    [Parameter]
    public object? Buttons { get; set; }
}