html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
    background-image: url('/img/usc-raz-2021-01.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.validation-message {
    color: var(--mud-palette-error);
}