@page "/information/odyssey/death"

<PageTitle>USC | Odyssey Death</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Align="Align.Center" Typo="Typo.h4">Death in Odyssey</MudText>
    <PaperP Padding="2">
        <MudText>Information in this document regards what happens upon death.</MudText>

        <section>
            <MudText Typo="Typo.h5">Items</MudText>
            <IndentedDiv>
                <MudText Typo="Typo.h6">Carried Items</MudText>
                <IndentedDiv>
                    <MudText Class="mb-2">
                        Loadout materials (suit, weapons, tools): These items incur no cost and retain on
                        death. This includes any engineering specials and grades in the loadout.
                    </MudText>
                    <MudText Class="mb-2">
                        Any items in the backpack will be lost on death. This includes consumables or picked
                        up items from the settlement.
                    </MudText>
                </IndentedDiv>

                <MudText Typo="Typo.h6">Storage</MudText>
                <IndentedDiv>
                    <MudText Class="mb-2">
                        "Storage" refers to a ship or SRV. When you have "boots on the ground" (not in a
                        station), you are able to interact with a ship or SRV and choose
                        <strong>Manage Inventory</strong>. The ship or SRV does not need to belong to you
                        and can even be an Apex shuttle.
                    </MudText>
                    <MudText Class="mb-2">
                        If you enter any ship or SRV, anything in your backpack will deposit into Storage
                        and any consumables will be restocked (excepting E-breaches).
                    </MudText>
                    <MudText Class="mb-2">Anything in Storage will retain on death as it is not on your person.</MudText>
                </IndentedDiv>
            </IndentedDiv>
        </section>

        <section>
            <MudText Typo="Typo.h5">Bounties and Fines</MudText>
            <IndentedDiv>
                <MudText Class="mb-2">
                    Unlike in Horizons, bounties or fines incurred while on the ground will follow you
                    until they are paid off or death occurs.
                </MudText>
            </IndentedDiv>
        </section>

        <section>
            <MudText Typo="Typo.h5">Missions</MudText>
            <IndentedDiv>
                <MudText Class="mb-2">
                    Missions will only fail if you die on-site of the mission or if you have an item in
                    your possession that must be turned into the mission contact.
                </MudText>
            </IndentedDiv>
        </section>
    </PaperP>
</MudContainer>

@code {

}