@page "/information/odyssey/engineering"

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h4" Align="Align.Center">Engineering in Odyssey</MudText>
    <PaperP Padding="2">
        <MudText>What's different from Horizons in Engineering?</MudText>

        <section>
            <MudText Typo="Typo.h5">Engineers</MudText>
            <IndentedDiv>
                <MudText Class="mb-2">There are 9 new engineers. They can be found <MudLink Href="https://inara.cz/engineers/#tab_engineerstype1" Target="_blank">here</MudLink>.</MudText>
                <MudText Class="mb-2">The new engineers function differently than in Horizons. While they still have an invite requirement, they do not have an unlock requirement. To introduce you to one of their contemporaries, they will require a payment, such as Domino Green needing <em>5 Measures of Push</em> to introduce you to Kit Fowler.</MudText>
                <MudText Class="mb-2">There are no rank/grade upgrades and nothing can be pinned for engineering the suits/weapons.</MudText>
                <MudText Class="mb-2">These new engineers have Apex landing ability, but none of the ship engineers do as a ship is required for engineering with the others.</MudText>
            </IndentedDiv>
        </section>

        <section>

        </section>
    </PaperP>
</MudContainer>